{% extends 'main.html' %}
{% block content %}
<div class="container">
  <div class="row justify-content-center" style="margin-top: 50px;">
    <div class="col-md-8">
      <div class="card-body">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th colspan="6" style="text-align: left;">
                <h2 style="font-size: 24px; margin: 0; display: inline;">Office Hours</h2>
                <a href="{%url 'addofficehours'%}">
                  <button class="btn btn-sm" style="background-color: #6c0434; color: white; float: right;">Add</button>
                </a>
                
              </th>
            </tr>
            <tr>      
              <th scope="col">Day</th>
              <th scope="col">Start Time</th>
              <th scope="col">End Time</th>
              <th scope="col">Office</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for record in officehours %}
            <tr>
              <td>{{ record.Day }}</td>
              <td>{{ record.StartTime }}</td>
              <td>{{ record.EndTime }}</td>
              <td>{{ office }}</td>
              <td><a href="">
                <button class="btn btn-sm" style="background-color: #6c0434; color: white;">Delete</button>
              </a></td>
            </tr>
            {% endfor %}  
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
