{% extends 'main.html' %}
{% block content %}
<div class="container">
  <div class="row justify-content-center" style="margin-top: 50px;">
    <div class="col-md-8">
      <div class="card-body">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th colspan="6" style="text-align: left;">
                <h2 style="font-size: 24px; margin: 0; display: inline;">Appointments for {{professor.First_Name}} {{professor.Last_Name}}</h2>
              </th>
            </tr>
            <tr>      
                <th scope="col">Date</th>
                <th scope="col">Day</th>
                <th scope="col">Time</th>
                <th scope="col">Student</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
              </tr>
          </thead>
          <tbody>
            {% for appointment in appointments %}
            <tr>
                <td>{{ appointment.Date }}</td>
                <td>{{ appointment.Day }}</td>
                <td>{{ appointment.Time }}</td>
                <td>{{ appointment.Student }}</td>
                <td>
                  {% if appointment.Confirmed %}
                      N/A
                  {% else %}
                      Available
                  {% endif %}
              </td> 
                <td class="d-flex justify-content-center">
                  
                    {% if appointment.Confirmed %}
                        <a href="">
                            <button class="btn btn-sm" style="background-color: #6c0434; color: white;" disabled>Select</button>
                        </a>
                    {% else %}
                        <a href="{%url 'bookappointment' appointment.AppointmentId%}">
                            <button class="btn btn-sm" style="background-color: #6c0434; color: white;">Select</button>
                        </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
