<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #6c0434 !important;">
{% if request.user.is_authenticated %}
    {% if is_professor %}
        <a class="navbar-brand" href="{% url 'officehours' %}">Appointment Scheduler</a>
    {% else %}
        <a class="navbar-brand" href="{% url 'professors' %}">Appointment Scheduler</a>
    {% endif %}
{% else %}
    <a class="navbar-brand" href="{% url 'login' %}">Appointment Scheduler</a>
{% endif %}

  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  {%if request.user.is_authenticated%}
  {%if is_student %}
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto">
          <li class="nav-item">
              <a class="nav-link" href="{%url 'professors'%}">Professors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'myappointments'%}">My Appointments</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                My Account
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{%url 'profile'%}">Profile</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{%url 'logout'%}">Sign-Out</a></li>
              </ul>
          </li>
      </ul>
  </div>
  {%endif%}
  {%if is_professor%}
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav me-auto">
        <li class="nav-item">
            <a class="nav-link" href="{%url 'students'%}">Students</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{%url 'officehours'%}">Office Hours</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{%url 'myappointments'%}">My Appointments</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{%url 'myschedule'%}">My Schedule</a>
        </li>
    </ul>
    <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              My Account
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{%url 'profile'%}">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{%url 'logout'%}">Sign-Out</a></li>
            </ul>
        </li>
    </ul>
</div>
  {%endif%}
  {%else%}
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          {% if request.path == '/login/' %}
            <a class="nav-link" href="{%url 'signup'%}">Sign Up</a>
          {%elif request.path == '/signup/' %}
            <a class="nav-link" href="{%url 'login'%}">Login</a>
          {%endif%}
        </li>
    </ul>
</div>

  {%endif%}
</nav>
