{% extends 'main.html' %}
{% block content%}
<table class="table table-hover">
    <thead>
      <tr>      
        <th scope="col">Professor</th>
        <th scope="col">Department</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Office</th>
        <th scope="col">Appointments</th>
      </tr>
    </thead>
    <tbody>
        {%for professor in Professors%}
        <tr>
            <td>{{professor.Last_Name}}, {{professor.First_Name}}</td>
            <td>{{professor.Department_id}}</td>
            <td>{{professor.Email}}</td>
            <td>{{professor.Phone}}</td>
            <td>{{professor.Office}}</td>
            <td>
              <a href="{%url 'viewappointments' professor.user%}">
                <button class="btn btn-sm" style="background-color: #6c0434; color: white; ">View</button>
            </a>
            </td>           
        </tr>
        {%endfor%}  
    </tbody>
</table>
{% endblock content%}
<h1>This is the list of all courses</h1>