{% extends 'main.html' %}
{% block content %}
  {% if role == 'student' %}
  <div class="container mt-5 mb-5 d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header d-flex justify-content-between">
        <h4 style="font-weight: normal">Student Profile</h4>
        <a href="{%url 'updateprofile'%}">
          <button class="btn btn-sm" style="background-color: #6c0434; color: white;">Update Profile</button>
        </a>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
              <img class="rounded-circle" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
              <span>{{ profile.First_Name }}</span>
              <span> </span>
            </div>
          </div>
          <div class="col-md-5 border-right">
            <div class="p-3 py-5">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <h4 class="text-right">{{ profile.Last_Name }}, {{ profile.First_Name }}</h4>
              </div>
              <div class="row mt-3">
                <div style="white-space: nowrap;"><label class="labels">Department: {{ profile.Department_id }}</label></div>
                <div class="col-md-12" style="white-space: nowrap;"><label class="labels">Username: {{ profile.user }}</label></div> <br>
                <div><label class="labels">Phone: {{ profile.Phone }}</label></div>
                <div style="white-space: nowrap;"><label class="labels">Address: {{ profile.Address }}</label></div>
                <div><label class="labels">Zipcode: {{ profile.Zipcode }}</label></div>
                <div><label class="labels">State: {{ profile.State }}</label></div>
                <div><label class="labels">Email: {{ profile.Email }}</label></div>
              </div>
              <br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
{% endif %}

  {% if role == 'professor' %}
  <div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
      <div class="col-md-3 border-right">
        <div class="d-flex flex-column align-items-center text-center p-3 py-5">
          <img class="rounded-circle" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
          <span>{{ profile.First_Name }} {{ profile.Last_Name }}</span>
          <span> </span>
        </div>
      </div>
      <div class="col-md-5 border-right">
        <div class="p-3 py-5">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-right">{{ profile.Last_Name }}, {{ profile.First_Name }}</h4>
          </div>
          <div class="row mt-3">
            <div><label class="labels">Department: {{ profile.Department_id }}</label></div>
            <div class="col-md-12"><label class="labels">Username: {{ profile.user }}</label></div> <br>
            <div><label class="labels">Phone: {{ profile.Phone }}</label></div>
            <div><label class="labels">Email: {{ profile.Email }}</label></div>
          </div>
          <br />
        </div>
      </div>
      <div class="col-md-4">
        <div style="text-align: right;">
          <span></span>
          <a href="{%url 'updateprofile'%}">
            <button class="btn btn-sm" style="background-color: #6c0434; color: white;">Update Profile</button>
          </a>
          
      </div>
      
        <div class="p-3 py-5">
          <div class="d-flex justify-content-between align-items-center experience">
            
          </div>
          <div class="d-flex justify-content-between align-items-center experience">
            <span>Office</span>
            <span class="border px-3 p-1 add-experience">
              <i class="fa fa-plus"></i>&nbsp;{{ profile.Office }}
            </span>
          </div>
          <br />
          <div class="col-md-12">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th colspan="2">Office Hours</th>
                </tr>
                <tr>
                  <th>Day</th>
                  <th>Hours</th>
                </tr>
              </thead>
              <tbody>
                {% for record in officehours %}
    <tr>
      <td>{{ record.get_Day_display }}</td>
      <td>{{ record.StartTime }} - {{ record.EndTime }}</td>
    </tr>
    {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  {% endif %}
{% endblock content %}
